.newButton {
  display: flex;
  margin-left: auto;
  /* position: relative; */
  /* margin-right: 2vh; */
  /* justify-content: space-between; */
  /* align-items:end; */
}

#module-table-headers {
  color: #b5b7c0;
  font-size: 14px;
  font-weight: medium;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

#heading {
  font-weight: bold;
  font-size: 4vh;
  margin-left: 7vh;
}

/* .options-container {
    display: flex;
    flex-wrap: wrap;
}

.option {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
} */

.tableStyle {
  width: 80%;
  /* overflow-y: auto; */
}

.theadStyle {
  color: #b5b7c0;
  font-weight: lighter;
  /* display: flex;
    flex-direction: row; */
}

.trStyle {
  padding: 2vh;
  cursor: pointer;
}

.columnAnswerScripts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  max-height: 60vh;
  overflow-y: auto;
  margin-right: 10vh;
  margin-left: 10vh;
  /* overflow-y: scroll; */
  /* padding-bottom: 10px; */
}

.trStyleAnswerScript {
  padding: 2vh;
  cursor: pointer;
  margin-top: auto;
  margin: 0;
}

.tableStyle td {
  padding: 5px; /* Adjust the padding as needed */
  font-size: 14px; /* Adjust the font size as needed */
}

.tableStyle2 {
  width: 80%;
  overflow-y: auto;
  border-collapse: collapse;
  max-height: 20vh;
  margin-top: 20%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

#rectangle {
  position: relative;
  width: 55vh;
  height: 35vh;
  margin-left: 5vh;
  background-color: #d9d9d9;
  border-radius: 3vh;
}

.align1 {
  position: relative;
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
  align-items: flex-start;
  margin-left: 0;
}

.boldHeader {
  font-weight: bold;
}

#folder-list {
  font-size: 0.5rem;
}

#export-custom-button {
  background-color: aqua;
}

#back-button{
  width: 100px;
  color: black;
  height: 50px;
  font-weight: bold;
  margin-bottom: 2vh;
}


@media (max-width: 768px){
  #back-button{
    font-size: 0;
    height: auto;
  }

  #heading {
    font-weight: bold;
    font-size: 4vw;
    margin-left: 7vh;
  }
}

@media (max-height: 300px){
  #back-button{
    display: none;
  }

  #heading {
    display: none;
  }
}