.newButton{
    display: flex;
    margin-left: auto;
    /* position: relative; */
    /* margin-right: 2vh; */
    /* justify-content: space-between; */
    /* align-items:end; */
}

#module-table-headers{
    color: #B5B7C0;
    font-size: 14px;
    font-weight: medium; 
    align-items: center;  
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

#heading{
    font-weight: bold;
    font-size: 4.5vh;
    margin-left: 7vh;
}