/* h1 {
  color: dodgerblue;
  align-items: flex-start;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

#helpImage {
  width: 8rem;
  height: 8rem;
  /* margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 5vh; */
  margin: 5vh auto;
}

#help-backgroud {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#help-backgroud h3 {
  color: black;
  margin-top: 5vh;
}

#help-backgroud h5 {
  color: black;
}

#help-support-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#help-support-options > * {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

#help-support-options > *:first-child {
  margin-left: 0;
}

#help-support-options > *:last-child {
  margin-right: 0;
}

.help-support-options-container {
  position: relative;
  margin-top: 10vh;
  width: 20vw;
  height: 30vh;
  background-color: white;
  display: flex;
  justify-content: center;
}

.help-support-options-circles {
  position: absolute;
  top: -2.5rem;
  width: 5rem;
  height: 5rem;
  background-color: rgb(211, 222, 225);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-container-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #7894db;
}

.container-title {
  margin-top: 10vh;
  font-weight: bold;
}

.help-contact-detail {
  background-color: #e14177;
  align-self: flex-end;
  /* margin-top: 0; */
  /* margin-bottom: auto; */
  margin-bottom: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.help-contact-detail p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  font-size: 0.5rem;
}

#faq-image-container {
  margin-top: 10vh;
  height: 80%;
  width: 100%;
  background-color: #afafaf;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}

#help-image-container-2 {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 5vh;
}

#faq-image-para {
  width: 60%;
  display: flex;
  flex-direction: column;
  /* margin-top: 10vh; */
  /* align-items: center; */

  /* margin-left: 10vw; */
}

#faq-title {
  font-size: 1.5rem;
  font-weight: bold;
}

#faqs {
  margin-top: 10vh;
}

@media (min-width: 768px) {
  #helpImage {
    width: 8rem;
    height: 8rem;
  }

  #faq-image-container {
    flex-direction: row;
    justify-content: center;
  }

  #faq-image-para {
    width: 50%;
  }

  #help-support-options > * {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    /* width: 50vw; */
  }
  #help-image-container-2 {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 5vh;
  }
}

@media (max-width: 768px) {
  #help-backgroud h5 {
    color: black;
    margin-bottom: 5vh;
  }

  #help-support-options {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    /* height: 30vh; */
  }

  .help-support-options-container {
    margin: 5vh;
  }

  #faq-image-container {
    flex-direction: row;
    justify-content: center;
  }

  #faq-image-para {
    width: 60%;
    text-align: left;
  }

  #helpImage {
    width: 10rem;
    height: 10rem;
  }

  .help-contact-detail p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    font-size: 0.7rem;
  }

  .help-container-paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #7894db;
  }
}

@media (max-width: 650px) {
  #help-backgroud h5 {
    color: black;
    margin-bottom: 5vh;
  }
  #help-support-options {
    flex-direction: column;
    align-items: center;
  }

  .help-support-options-container {
    margin: 5vh 0;
    width: 100%;
  }

  #faq-image-container {
    flex-direction: column;
    align-items: center;
  }

  #help-image-container-2 {
    width: 80%;

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5vh;
  }

  #faq-image-para {
    width: 100%;
    text-align: center;
  }

  #helpImage {
    width: 8rem;
    height: 8rem;
  }

  .help-contact-detail p {
    font-size: 0.6rem;
  }
}
