#page{
    background-color: #7894DB;
}

.align{
    position: relative;
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    align-items: flex-start;
    /* margin-left: 0; */
    
}
