.main-layout {
  display: flex;
  height: 100vh;
}

.left-pane {
  width: 200px;
  background-color: #f4f4f4;
  overflow-y: auto;
}

.content {
  flex: 1;
  background-color: #fff;
  overflow-y: auto;
}

@media (max-width: 375px) {
  .main-layout {
    flex-direction: column;
  }

  .left-pane {
    width: 100%;
    height: 200px;
  }

  .content {
    flex: 1 0 auto;
  }
}
