
#heading-mymodules {
  color: black;
  margin-top: 5vh;
  text-align: center;
  margin-bottom: 5vh;
}

#mymodules-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#new-module-button {
  margin-left: 120vh;
  background-color: #c3d3fb;
  border-radius: 15px;
}

#module-table-headers {
  color: #b5b7c0;
  font-size: 14px;
  font-weight: medium;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

#module-table {
  margin-left: 20vh;
  padding: 0 20px;
  margin-right: 20vh;
}

.table {
  border-collapse: collapse;
  width: 80%;
}

table th,
table td {
  padding: 10px;
  text-align: left;
}

.tablehead {
  color: #b5b7c0;
  font-weight: lighter;
}

.table-data {
  padding: 2vh;
  cursor: pointer;
  border-radius: 30px;
}

.align1 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 0;
}

.alignment {
  display: flex;
  margin-left: 18vw;
  margin-right: 18vw;
  justify-content: center;
  flex-direction: column;
  margin-top: 7vh;
}

.columnModules {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 60vh;
  overflow-y: auto;
  width: 90%;
  margin-left: 5%;
}

.heading-style-input1 {
  font-size: 15px;
  margin-left: 35px;
  color: black;

}

.heading-style-input {
  font-size: 15px;
  margin-left: 35px;
  color: black;
  margin-top: 20px;
}

#add-new-module-button {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 5vw;
  margin-top: 2vh;
}
