#heading{
    margin-left: 20px;
    font-weight: bold;
  }
  
#new-module-button {
    margin-left: 120vh;
    background-color: #C3D3FB;
    border-radius: 15px;
  }

#module-table-headers{
    color: #B5B7C0;
    font-size: 14px;
    font-weight: medium; 
    align-items: center;  
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}


#module-table {
  margin-left: 20vh; 
  padding: 0 20px; 
  margin-right: 20vh;
}

.table {
  border-collapse: collapse; 
  width: 80%; 
}

table th, table td {
  padding: 10px; 
  text-align: left; 
  
}

.tablehead{
  color: #B5B7C0 ;
  font-weight: lighter;
}

.table-data{
  padding: 2vh;
  cursor: pointer;
  border-radius: 30px;
}

.align1{
  position: relative;
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
  align-items: flex-start;
  margin-left: 0;
  
}
