#dashboard {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 100%;
}

#heading {
  /* color: black; */
  margin-top: 5vh;
  /* margin-bottom: 5vh; */
  font-weight: bold;
  font-size: 30px;
  margin-left: 7vh;
}

#summary-and-calendar-raw {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  /* align-items: center; */
  width: 80%;
}

#hi-container {
  background-color: #7894db;
  width: 30vw;
  height: 15vh;
  border-radius: 2vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#hi-paragraphs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 2vw;
}

#name-hi {
  /* margin-top: 5vh; */
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  /* padding-top: 3vh; */
  margin-bottom: -1rem !important;
  color: black;
}

#good-time {
  text-align: center;
  font-size: 0.9rem;
  /* font-weight: bold; */
  padding-top: 3vh;
  margin-bottom: -1rem !important;
  color: black;
}

#summary-graph {
  background-color: #e14177;
  border-radius: 2vh;
  width: 30vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

#summary-graph p {
  color: white;
  /* font-family: "Poppins"; */
  font-size: 0.8rem;
}

#summary-detail {
  text-align: center !important;
  margin-left: 2vw;
  font-size: 1.2rem !important;
  font-weight: bold;
  /* font-family: "Poppins"; */
  padding-top: 3vh;
}

#dashboard-details {
  background-color: #7894db;
  /* margin-left: 2vw; */
  /* height: 20vh; */
  border-radius: 2vh;
  width: 30vw;
  /* background-color: #31326f; */
  /* border-radius: 2vh; */
  /* width: 20vw; */
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin-top: 2vh;
}

#dashboard-details p {
  text-align: left;
  margin-left: 2vw;
  /* font-size: 1rem; */
  /* font-weight: bold; */
  /* font-family: "Poppins"; */
  /* padding-top: 3vh; */
}

#recent-table-headers {
  color: #b5b7c0;
  font-size: 14px;
  font-weight: medium;
  align-items: center;
}

#recent-table {
  margin: 10px;
  padding: 0 20px;
}

#recent-assignment-title-and-button-raw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#recent-assignments {
  background-color: white;
  align-items: center !important;
  width: 100%;
  padding-bottom: 3vh;
}

#recent-assignments p {
  /* font-family: "Poppins"; */
  font-size: 1rem;
  margin-top: 2vh;
  margin-left: 3vw;
  padding-top: 2vh;
}

#dashbord-recent-assignment-table {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 60vh;
  overflow-y: auto;
  width: 90%;
  margin-left: 5%;
}

#add-new-assignment-button {
  text-decoration: none;
  display: flex;
  justify-content: flex-end; /* Aligns child elements to the right */
  width: 100%;
  margin-right: 5vw;
  margin-top: 2vh;
}

table {
  border-collapse: collapse;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* margin-left: 5vw;
  margin-right: 5vw; */
}

table th,
table td {
  padding: 15px;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.align1 {
  position: relative;
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
  /* align-items: flex-start; */
  height: 100%;
  margin-left: 0;
}

.column {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  margin-left: 7vw;
  margin-right: 7vw;
}

@media (max-width: 980px) {
  #summary-and-calendar-raw {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #hi-container,
  #summary-graph,
  #dashboard-details {
    width: 40vw;
    margin: 10px 0;
  }

  #recent-assignment-title-and-button-raw {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #add-new-assignment-button {
    text-decoration: none;
    /* margin-right: 5vw; */
    /* margin-top: 2vh; */
    margin-bottom: 2vh;
  }

  #recent-assignments p {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    width: 90%;
  }
}

@media (max-width: 670px) {
  #summary-and-calendar-raw {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #hi-container,
  #summary-graph,
  #dashboard-details {
    width: 50vw;
    margin: 10px 0;
  }

  #recent-assignment-title-and-button-raw {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #recent-assignments p {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    width: 90%;
  }
  #add-new-assignment-button {
    text-decoration: none;
    /* margin-right: 5vw; */
    /* margin-top: 2vh; */
    margin-bottom: 2vh;
  }
}

@media (max-width: 480px) {
  #summary-and-calendar-raw {
    width: 100%;
  }

  #hi-container,
  #summary-graph,
  #dashboard-details {
    width: 60vw;
    margin: 10px 0;
  }

  #recent-assignment-title-and-button-raw {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #recent-assignments p {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    width: 95%;
  }

  table th,
  table td {
    padding: 10px;
  }
}
