#heading{
  margin-left: 20px;
  font-weight: bold;
}

#recent-table-headers{
    color: #B5B7C0;
    font-size: 14px;
    font-weight: medium; 
    align-items: center;  
}


#recent-table {
  margin: 10px; 
  padding: 0 20px; 
}

table {
  border-collapse: collapse; 
  width: 100%; 
  align-items: center;
  justify-content: center;
  /* margin-left: 5vw;
  margin-right: 5vw; */

}

table th, table td {
  padding: 15px; 
  text-align: left; 
  align-items: center;
  justify-content: center;
}

.align1{
  position: relative;
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
  align-items: flex-start;
  margin-left: 0;
  
}

.column{
  display: flex;
  justify-content: right;
  align-items: flex-end;
  margin-left: 7vw;
  margin-right: 7vw;
}