#form-input-field {
  margin: 0.5;
  max-width: auto;
  width: 50vw;
}

@media (max-width: 768px) {
  #form-input-field {
    margin: 0.5;
    max-width: auto;
    width: 50vw;
  }
}

@media (max-width: 480px) {
  #form-input-field {
    margin: 0.5;
    max-width: auto;
    width: 50vw;
  }
}
