.LeftPaneLog{
    display: flex;
    flex-direction: column;
    height: 150vh;
    background: #FFFFFF;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

#Logo{
    width: 20vh;
    height: 30vh;   
  margin-top: 25vh;
  
}

.APGSTexts{
    position: relative;
    font-weight: bold;
    font-size: 1.5rem;
    color: #000000;
    /* margin-top: 5vh; */
    /* justify-content: center; */
    /* align-items: center; */
}

.subtext-leftpane{
    font-size: 1rem;
    color: #000000;
}