.LeftPane{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #FFFFFF;
    flex-direction: column;
    align-items: center;
}

#Logo{
    width: 20vh;
    height: 30vh;   
  margin-top: 25vh;
  
}

.APGSText{
    font-weight: bold;
    font-size: 1.5rem;
    color: #000000;
    margin-top: 5vh;
}

.subtext-leftpane{
    font-size: 1rem;
    color: #000000;
}