#rightpane {
  position: relative;
  display: flex;
  background-color: white;
  border-radius: 5vh;
  flex-direction: column;
}

.notificationButton {
  border-radius: 50vh;
  background-color: #7894db;
  margin-right: 50vh;
  border: 0vh;
  height: 3vh;
  width: 3vh;
}

.row {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  position: relative;
}

#outlined-basic {
  height: 1.5vh;
  margin-right: 5vh;
}

.label1-userprofile-left {
  display: flex;
  font-weight: bold;
  margin-top: 2vh;
  margin-bottom: 3vh;
  position: relative;
}

.label2 {
  margin-left: 5vh;
  margin-right: 5vh;
  display: flex;
  font-weight: bold;
  margin-top: 2vh;
  margin-bottom: 3vh;
  position: relative;
}

.label3 {
  margin-right: 5vh;
  display: flex;
  font-weight: bold;
  margin-top: 2vh;
  margin-bottom: 1.5vh;
  position: relative;
}

#edit-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5vh;
}

#space1 {
  margin-left: 5vh;
}

#space2 {
  margin-right: 5vh;
  margin-left: 1.5vh;
}

#space3 {
  margin-left: 11.5vh;
}

#rightpane-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.userprofile-buttons2 {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  align-items: center;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: left;
}

#filled-hidden-label-small {
  width: 30vw;
}
