#footer {
  background-color: #01427a;
  color: white;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0;
}

.footer-section {
  flex: 1;
  margin: 1rem;
}

.footer-section h4 {
  margin-bottom: 1rem;
}

.footer-section p {
  margin: 0.5rem 0;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icon {
  color: white;
  border-radius: 50%;
  margin: 0 0.5rem;
  text-decoration: none;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
}

.social-icon:hover {
  color: black;
}

h4 {
  font-size: larger;
}

p {
  font-size: small;
}
