/* #rightpane {
  position: relative;
  display: flex;
  height: 80vh;
  width: 160vh;
  background-color: white;
  border-radius: 5vh;
  margin: 4vw;
  margin-right: 3vm;

  z-index: 9;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
} */
