.button{
    text-align: left;
    text-transform: none;
    background-color: white;
    color: black;
    width: 200px;
    display: flex;
}


.button:hover {
    background-color: #7894DB;
    color: white;
}
