.button{
    text-align: left !important;
    text-transform: none !important;
    background-color: white !important;
    color: black !important;
    width: 200px !important;
    display: flex !important;
}

.button:hover {
    background-color: #7894DB !important;
    color: white !important;
}
