.button{
    text-align: left !important;
    text-transform: none !important;
    color: black !important;
    width: 200px !important;
    display: flex !important;
}

.button:hover {
    background-color: #7894DB !important;
}

.button-set {
}

.hamburger-icon {
  display: none !important;
}
  
@media (max-width: 1200px) {
  .button {
  }
}
  
@media (max-width: 768px), (max-height: 600px) {
  
  .button-set{
    display: none;
  }

}

@media (max-height: 50px){
  .button-set {
      display: none;

      height: 0;
    }

    .button {
      height: 0;
      display: none;
    }

    
    
  }
