.maindiv-left {
  position: relative;
  display: flex;

  /* width:5%; */
  /* height: 100%; */
  /* background-color: #d4eff5; */
  /* flex:1; */
  /* float:left; */
 
  align-content: center;
 
  
  height: 100vh;
  background: #F8F4FC;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40vh;
}

#main-left-pane-image {
  margin: 2%;
  margin-top: 10vh;
  margin-bottom: 5vh;
  /* margin-left: 5vh; */
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#ProfileBar {
  display: flex;
  justify-content: flex-end;
  /* height: 100vh; */
  flex-direction: column;
  /* background-color: aqua; */
  align-items: center;
  width: inherit;
  background-color: "red";
}

#bottom-profile-set {
  margin-bottom: -15vh;
}
