.maindiv-left {
  position: relative;
  display: flex;
  align-content: center;
  height: 100vh;
  background: #F8F4FC;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
}

.main-left {
  position: relative;
  display: flex;
  align-content: center;
  height: 100vh;
  background: #F8F4FC;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
}

.maindiv-left-pane {
  position: relative;
  display: flex;
  align-content: center;
  height: 100vh;
  background: #F8F4FC;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
}

.main-left-pane {
  position: relative;
  display: flex;
  align-content: center;
  height: 100vh;
  background: #F8F4FC;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
}


#main-left-pane-image {
  margin: 2%;
  margin-top: 10vh;
  margin-bottom: 5vh;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

#ProfileBar {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  width: inherit;
  background-color: "red";
}

#ProfileBar2 {
  display: none;
}
#ProfileBar1 {
  display: none;
}

#bottom-profile-set {
  margin-bottom: -15vh;
}

.hamburger-icons {
  display: none !important;
}


@media (max-width: 768px), (max-height: 600px) {
  .maindiv-left {
    width: 40px;
    justify-content: space-between   !important;
    flex-direction: column !important;
    align-items:center !important;
  }

  .main-left {
    display: none;
  }

 

  #ProfileBar {
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    width: inherit;
  }

  #ProfileBar1 {
    display: none;
  }

  .hamburger-icons {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center !important;
    width: inherit !important;
    /* height: 20px !important; */
    /* background-color: red !important; */
    margin-left: 15px;
  }

  #ProfileBar2 {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 40px !important;
    height: 40px !important;
  
  }
}
