.maindiv-left {
    width:25%;
    height:100dvh;
    background-color:white;
    flex:1;
    float:left;
    align-items: center;
    align-content: center;
}

#main-left-pane-image {
    margin: auto;
    margin-top: 15vh;
    margin-left: 10vh;
    
}