.LeftPane {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: 23%;
  top: 0px;
  background: #ffffff;
  margin: 0;
  padding: 0;
}

#container1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  top: 0vh;
  background: #c1a5fd;
  border-radius: 0px 0px 5vh 5vh;
}

#ringcontainer {
  position: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
}

#ring {
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

#user1 {
  width: 70%;
  height: 70%;
  object-fit: cover;
  border-radius: 50%;
}

#text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#text h2 {
  text-align: center;
}

#userprofile-para {
  color: #7e7e7e;
  text-align: center;
  font-size: 2vh;
}

.greytext {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: transparent;
  border: 0;
  margin: 2vh;
  color: hsl(0, 0%, 37%);
  font-size: 2vh;
  font-weight: 700;
}

h4 {
  text-align: center;
  color: #5b0dff;
  margin-top: 1vh;
  font-size: 3vh;
}

#container2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.fas.fa-envelope {
  color: #5e88e9;
  font-size: 3vh;
  margin-top: 2vh;
}

.fas.fa-phone-alt {
  color: #5e88e9;
  font-size: 3vh;
  margin-top: 2vh;
}

.fas.fa-map-marker-alt {
  color: #5e88e9;
  font-size: 3vh;
  margin-top: 2vh;
}

#stars {
  position: absolute;
  margin-top: 0;
  margin-right: 0;
  height: 30vh;
  padding: 0;
}
