/* Main right pane styling */
.maindiv-right {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  position: relative;
  z-index: 2;
  overflow-y: auto;
  width: 100%;
}

/* Container styling */
.container {
  flex: 1;
  /* background-color: white; */
  width: 100%;
  display: flex;
  /* border-radius: 2vh; */
  flex-direction: column;
  margin: auto;
  margin-bottom: 5vh;
  /* margin-top: 8vh; */
}

/* Footer styling */
#footer_main_right_pane {
  /* background-color: #333;  */
  color: #fff; /* Example footer text color */
  text-align: center;
  /* padding: 10px 0; */
  width: 100%;
  margin: 0;

  align-self: flex-end;
}

@media (min-width: 768px) {
  .container {
    max-width: 100% !important;
  }
}
