/* Main right pane styling */
.maindiv-right {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  position: relative;
  z-index: 2;
  overflow-y: auto;
  width: 100%;
}

/* Container styling */
.container {
  flex: 1; /* Take up all available space except the footer */
  /* background-color: white; */
  width: 75%;
  display: flex;
  /* border-radius: 2vh; */
  flex-direction: column;
  margin: auto;
  margin-bottom: 5vh;
  margin-top: 8vh;
}

/* Footer styling */
#footer_main_right_pane {
  /* background-color: #333;  */
  color: #fff; /* Example footer text color */
  text-align: center;
  /* padding: 10px 0; */
  width: 100%;
  margin: 0;
  /* Ensure the footer is at the bottom of the container */
  align-self: flex-end;
}
