.icon-container {
    display: flex !important;
    margin-right: 2px !important;
  }
  
  .new-module-button {
    width: auto !important;
    padding: 20px !important;
    height: 5vh !important;
    color: black !important;
    font-weight: bold !important;
    text-transform: none !important;
    background-color: #C6EFF1 !important;
    border-radius: 2vh !important;
    font-size: 10px !important;
  }
  
  @media (max-width: 500px) {
    .new-module-button {
      font-size: 0 !important;
      width: 2px !important;
    }

    .icon-container{
        padding: 0 !important;
        
      }
      
  }
  

  @media (max-height: 400px){
    .icon-container{
        display: none !important;
        
      }
  }