.profilebar{

    display: flex;
    width:inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8vh;
}


#barText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

select{
    border: none;
    outline: none;
 
}

label{

}


option{
    font-size: large;
    width: 100vw;
    padding: 10vh;
    height: 20vh;
}

option option {
    padding: 5vh;
    height: 5vh;
}